extends ./template/header

block contents
  a(href="https://github.com/tanjoin/text-counter")
    img#ribbon(src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png" alt="Fork me on GitHub")
  .container
    .content
      .dataio
        input#read_file(type="file" accept="text/*,text/markdown,application/json")
        input#read_button(type="button" value="ファイル選択")
        input#save_button(type="button" value="保存")
        span#save_name(type="text" contenteditable="true") textfile.txt
        input#clear_button(type="button" value="クリア" style="display:none;")
        input#json_parse_button(type="button" value="JSON")
        input#unique_list(type="button" value="ユニーク")
        input#sort_list(type="button" value="ソート")
        input#replace_show(type="button" value="置換")
        input#ignore_newline(type="button" value="改行無視")
        input#first_increment_button(type="button" value="ｲﾝｸﾘﾒﾝﾄ・ﾃﾞｸﾘﾒﾝﾄ")
        input#clear_editor(type="button" value="クリア")
      div#information
        span#inputlength=0
        |  &nbsp;/&nbsp;
        input#maxinput(type="text")
        | &nbsp;文字
      #text-container
        textarea#editor
      p#linenav
      #btmfl.btmf(style="display:none;")
        #btm-inner
          input#replace_button(type="button" value="実行")
          .substr
            span="対象: "
            #regex_pattern(type="button" contenteditable="true") //g
          .substr
            span="置換: "
            #replacing_text(type="button" contenteditable="true")
      #btmf2.btmf(style="display:none;")
        #btm-inner
          input#first_increment_apply_button(type="button" value="ｲﾝｸﾘﾒﾝﾄ")
          input#first_decrement_apply_button(type="button" value="ﾃﾞｸﾘﾒﾝﾄ")
          .substr
            span="開始位置: "
            input#first_increment_decrement_start.border(type="tel" name="first_increment_decrement_start" placeholder="0")
          .substr
            span="終了位置: "
            input#first_increment_decrement_end.border(type="tel" name="first_increment_decrement_end")
