extends ./template/header

block contents
  .container
    .content
      .dataio
        input#read_file(type="file" accept="text/*,text/markdown,application/json")
        input#read_button(type="button" value="ファイル選択")
        input#save_button(type="button" value="保存")
        span#save_name(type="text" contenteditable="true") textfile.txt
        input#clear_button(type="button" value="クリア" style="display:none;")
        input#json_parse_button(type="button" value="JSON")
      div#information
        span#inputlength=0
        |  &nbsp;/&nbsp;
        input#maxinput(type="text")
        | &nbsp;文字
      #text-container
        textarea#editor
      p#linenav
