doctype html
html
  head
    meta(charset="utf-8")
    title Text Counter
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(name="author" content="tanjoin")
    meta(name="description" content="文字数をカウントできます")
    link(rel="apple-touch-icon" href="./resource/icon-128×128.png")
    link(rel="shortcut icon" href="./resource/icon-128×128.png")
    link(rel="stylesheet" type="text/css" href="./bin/css/counter.css")
  body
    block contents
    script(type="text/javascript", src="./bin/js/counter.js")
